 {{!-- {{#each formato}} --}} {{!-- SE DECLARA LO QUE ES LOS ELEMENTOS DEL COMPONENTE {{FORMATO-BEGINDATE}} HACE REFERENCIA
A LA VARIABLE DEL TEMPLATE PRINCIPAL, DONDE ESPECIFICA EL SENTIDO DE FLUJO DE INFORMACION Y LA CONSULTA QUE ESTA ESE TEMPLATE
PADRE A LA CUAL SE LE ASIGNO EL NOMBRE DE FORMATO, ES ESTA PARTE VA SEGUIDO DEL ATRIBUTO DE ESA CONSULTA QUE SE DESE OBTENER.
--}}



        <div class="jumbotron marginContainContactos">
                <p class="text-center">{{formato.name}}</p>

                <hr style="background-color: rgb(214, 38, 230);" />


                <dl style="text-align: center">
                        {{#if imagg.bgImg}}
                        <a {{action 'toggleImageSize'}} class="bgImg {{if isWide " wide "}}">

                                <img class="imgperfilevento" src="{{imagg.bgImg}}" alt="perfil">

                        </a>
                        {{else}}
                        <a {{action 'toggleImageSize'}} class="bgImg {{if isWide " wide "}}">

                                <img class="imgperfilevento" src="{{imagg.bgImg}}" alt="perfil">
                        </a>
                        {{/if}}
                </dl>


                <hr>

                <dl class="dl-horizontal">
                        <h3 class="subtitulos">
                                <small>Lugar:</small>
                        </h3>
                        {{#if location.venue_name}}
                        <dd>{{location.venue_name}}</dd>
                        {{else}}
                        <dd><i>No especificado</i></dd>
                        {{/if}} {{#if location.venue_address}}
                        <dd>{{location.venue_address}}</dd>
                        {{else}}
                        <dd><i>No especificado</i></dd>
                        {{/if}}
                </dl>

                <hr>

                <dl class="dl-horizontal">
                        <h3 class="subtitulos">
                                <small>Inicio:</small>
                        </h3>
                        {{#if formato.beginDate}}
                        <dd id="fecha">{{formato.beginDate}}</dd>
                        {{else}}
                        <dd><i>No especificado</i></dd>
                        {{/if}}

                        <hr>

                        <h3 class="subtitulos">
                                <small>Clausura:</small>
                        </h3>

                        {{#if formato.endDate}}
                        <dd id="fechaEnd">{{formato.endDate}}</dd>
                        {{else}}
                        <dd><i>No especificado</i></dd>
                        {{/if}}
                </dl>

                <hr>

                <dl class="dl-horizontal">
                        <h3 class="subtitulos">
                                <small>Descripción:</small>
                        </h3>
                        {{#each formato.description as |descript|}}
                        {{#if descript}}
                        <dd>{{descript}}</dd>
                        {{else}}
                        <dd><i>No especificado</i></dd>
                        {{/if}}
                        {{/each}}

                </dl>

                <hr>

                <dl class="dl-horizontal">

                        <h3 class="subtitulos">
                                <small>Contacto:</small>
                        </h3>

                        {{#if location.contact_tel}}
                        <dd>Telefono:  {{location.contact_tel}}</dd>
                        {{else}}
                        <dd>Telefono:  <i>No especificado</i></dd>
                        {{/if}}

                        {{#if location.contact_email}}
                        <dd>Email:  {{location.contact_email}}</dd>
                        {{else}}
                        <dd>Email:  <i>No especificado</i></dd>
                        {{/if}}

                        {{#if location.coords}}
                        <dd>Coords:  {{location.coords}}</dd>
                        {{else}}
                        <dd>Coords:  <i>No especificado</i></dd>
                        {{/if}}

                        {{!-- {{#if location.venues}}
                        <dd>Venues:  {{location.venues}}</dd>
                        {{else}}
                        <dd>Venues:  <i>No especificado</i></dd>
                        {{/if}} --}}                        

                </dl>
        </div>