<footer class="main-footer">

    <table class="table-borderless">
        <tbody>
            <tr>
                <td id="celda">
                    {{#link-to "logged.actividades" "act"}}
                    <img src="/media/calendario.svg" width="39" height="39"> {{/link-to}}
                </td>
                <td id="celda">
                    {{#link-to "logged.ponentes"}}
                    <img src="/media/ponentes.svg" width="40" height="40"> {{/link-to}}
                </td>
                <td id="celda">
                    {{#link-to "logged.home"}}
                    <img src="/media/casa.svg" width="40" height="40"> {{/link-to}}

                </td>
                <td id="celda">

                    {{!-- <img src="/media/chat.svg" width="40" height="41" {{action "contactosChat" evento.id}}>  --}}
                    {{#link-to "logged.contactos"}}
                    <img src="/media/chat.svg" width="40" height="41"> {{/link-to}}
                </td>
                <td id="celda">
                    {{#link-to "logged.ajustes"}}
                    <img src="/media/config.svg" width="40" height="40"> {{/link-to}}
                </td>
            </tr>
        </tbody>
    </table>

</footer>