<label id="contacto" style="display: none">{{contacto.id}}</label>
<label id="evento" style="display: none">{{event.id}}</label>


<span id="text" class="badge notificacionHora text-muted float-right"></span>
<br>
<span id="recibidos" class="badge badge-danger float-right"></span>   