 {{#ember-wormhole to="destination"}} {{#link-to source class="navbar-brand"}} Actividades {{/link-to}} {{/ember-wormhole}}


{{filtro-actividades modelo=model valor="ejmplo" detail="detalle"}} 


 {{footer-nav evento=model.token.evento}}