{{#ember-wormhole to="destination"}} Ajustes {{/ember-wormhole}} {{outlet}}

<br>
<br>
<br>

<div class="container">


    <div>
        <h4 style="margin-bottom: 20px;"> Audio de notificaciones</h4>


        <div class="containerCenter">

            <button class="btn btn-dark dropdown-toggle" style="width: 80%" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img src="/media/sonido.png" alt="sonido.png" width="30" height="30" > --Selecciona--
            </button>
            <div class="dropdown-menu" style="width: 60%" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="">Sonar</a>
                <a class="dropdown-item" href="">Vibrar</a>
                <a class="dropdown-item" href="">Sonar y vibrar</a>
                <a class="dropdown-item" href="">Silencio</a>
            </div>
        </div>
        <hr class="hrOpcion">





        <h4 class="h4Opcion"> Notificarme</h4>
        <div class="containerCenter">

            <button class="btn btn-dark dropdown-toggle" style="width: 80%" type="button" id="dropdownMenuButton1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img src="/media/notificaciones.png" style="margin-left: 0%" alt="sonido.png" width="30" height="30"> --Selecciona--
            </button>
            <div class="dropdown-menu" style="width: 60%" aria-labelledby="dropdownMenuButton1">
                <a class="dropdown-item" href="#">15 min. antes del evento</a>
                <a class="dropdown-item" href="#">30 min. antes del evento</a>
                <a class="dropdown-item" href="#">1 hr. antes del evento</a>
                <a class="dropdown-item" href="#">2 hrs. antes del evento</a>
            </div>
            <br>
            <hr class="hrOpcion">
        </div>
    </div>




    <div style="width: 100%; margin-top: 10%; margin-bottom: 20%">

        <div>
            <button style="float: left" {{action 'aboutEvento' }} class="btn btn-dark">Acerca del evento</button>
        </div>

        <div>
            <button style="float: right" {{action 'Ajustes'}} class="btn btn-success">Configurar cuenta</button>
        </div>

    </div>

    <br>
    <hr>
    <br>

    <div class="warning confirm containerCenter" id="confirm-dialog" style="margin:0%">

        <div class="ui">
            <button {{action 'logout' on='click' }} class="btn btn-danger">
                <img src="/media/cerrar.svg" alt="cerrar" width="20" height="20"> Cerrar Sesion </button>
        </div>

    </div>
</div>
<br>
<br> {{footer-nav evento=model.token.evento}}