<div>
    <nav class="navbar bg-dark navbar-dark sidebarNavigation fixed-top" data-sidebarClass="navbar-dark bg-dark" style="position: fixed;">
        {{#link-to "logged.contactos"}}
        <img src="/media/atras.png" width="27" height="27">
        {{/link-to }}
        <img src={{model.cargarNombre.img}} alt="Avatar" id="avatar" class="rounded-circle float-sm-right">
        <label {{action "perfil" model.cargarNombre.id model.cargarDatos.id}} class="lblHeader">{{model.cargarNombre.name}} </label>        
    </nav>
</div>

{{chat-user 
mensaje=model.cargarChat 
chat=model.cargarDatos 
cargarAccount=model.cargarNombre
}}



