{{#ember-wormhole to="destination"}} {{#link-to "logged.ajustes" class="navbar-brand"}}
<img src="/media/atras.png" width="20" height="20"> Detalle de Evento{{/link-to}} {{/ember-wormhole}}
{{outlet}}

{{detalle-evento formato=model.about imagg=model.configurations location=model.location }}

{{footer-nav}}