 {{#ember-wormhole to="destination"}} {{#link-to "logged.ponentes" class="navbar-brand"}}
<img src="/media/atras.png" width="20" height="20"> Perfil ponente {{/link-to}} {{/ember-wormhole}} {{outlet}}

<div class="container marginPonentes">

    <div class="cardponente">

        <form class="textBlack">

            <div class="form-group">

                <div>
                    <img class="imgp" src="{{model.img}}" alt="John" style="margin-top: 8%">
                </div>

                <br>

                <h3 style="margin-bottom: 10px">{{model.name}}</h3>
                <hr>


                <label class="lblInteres">E-mail:</label>
                <br>
                <div style="width: 80%; margin-left: 20%; text-align: left">

                    {{#if model.email}}
                    <h3 class="namePerfil">{{model.email}}</h3>
                    {{else}}
                    <h3 class="namePerfil">No especificado</h3>
                    {{/if}}

                </div>

                <label class="lblInteres">Job:</label>
                <br>
                <div style="width: 80%; margin-left: 20%; text-align: left">

                    {{#if model.job_title}}
                    <h3 class="namePerfil">{{model.job_title}}</h3>
                    {{else}}
                    <h3 class="namePerfil">No especificado</h3>
                    {{/if}}
                </div>

                <label class="lblInteres">Description:</label>
                <br>
                <div style="width: 75%; margin-left: 20%; text-align: left">
                    {{#if model.description}}
                    <h3 class="namePerfil">{{model.description}}</h3>
                    {{else}}
                    <h3 class="namePerfil">No especificado</h3>
                    {{/if}}

                </div>
                <hr>
            </div>

            <label class="lblInteres">Social_Info:</label>

            {{#each model.social_info as |contacto|}}

            <div style="margin: 10px;">

                {{#if (eq contacto.provider "facebook")}}

                <a href="{{contacto.link}}">
                    <img class="imagen" width="65" heigth="65" src="media/facebook.png">
                </a>

                {{else}} {{!-- twitter --}}

                <a href="{{contacto.link}}">
                    <img class="imagen" width="50" heigth="50" style="border-radius: 20%" src="media/twitter.png">
                </a>
                {{/if}}

            </div>

            {{/each}}

        </form>

        {{!-- (query-params source= "logged.detalleponentes") --}} {{!-- {{#link-to "logged.actividades" }}
        <button class="buttoncard">Ver Actividades </button> {{/link-to}} --}}
    </div>

</div>

{{footer-nav evento=model.token.evento}}