 {{outlet}}

<div>
    <br>
    <br>
    <br> {{#each model.schedule as |actividades|}} {{#each actividades.content as |acts|}} {{#if (eq acts.id model.actividad)}}
    {{#ember-wormhole to="destination"}} {{#link-to source actividades.id class="navbar-brand"}}
    <img src="/media/atras.png" width="20" height="20"> Detalle actividad {{/link-to}} {{/ember-wormhole}}


    <div class="jumbotron" style="margin: 2%">
        <p class="text-center">{{acts.title}}</p>

        <hr style="background-color: rgb(214, 38, 230);" />


        <dl class="dl-horizontal">
            <h3 class="subtitulos">
                <small>Fecha de inicio y fin:</small>
            </h3>
            <dd>Del
                <b>viernes 18 mayo, 4:15 pm</b> al
                <b>viernes 18 mayo, 5:15 pm</b>
                <dd>{{tipo}}</dd>
            </dd>
        </dl>


        {{!-- {{actividad-fechahora fecha=acts}} --}}


        <hr>

        <dl class="dl-horizontal">
            <h3 class="subtitulos">
                <small>Lugar:</small>
            </h3>
            {{#if acts.location}}
            <dd>
                {{acts.location}}
            </dd>
            {{else}}

            <dd>
                <!---->,
                <!---->
            </dd>

            {{/if}}
        </dl>

        <hr> {{#each acts.categories as |tipo|}}
        <dl class="dl-horizontal">
            <h3 class="subtitulos">
                <small>Categorias:</small>
            </h3>
            <dd>{{tipo}}</dd>
        </dl>
        {{/each}}

        <hr>
        <dl class="dl-horizontal">
            <h3 class="subtitulos">
                <small>Descripción:</small>
            </h3>

            {{#if acts.description}}

            <dd>{{acts.description}}</dd>

            {{else}}
            <dd>
                <i>No especificada</i>
            </dd>

            {{/if}}
        </dl>


        {{!--
        <hr style="background-color: rgb(214, 38, 230);" /> --}}
        <hr>
        <h3 class="subtitulos">
            <small>Incripción:</small>
        </h3>
        <p>No hay especificaciones de cupo o costo para este contenido.</p>


        {{!--
        <hr style="background-color: rgb(214, 38, 230);" /> --}}
        <hr>
        <h3 class="subtitulos">
            <small>Ponentes:</small>
        </h3>

        {{#each acts.speakers as |ponente|}}
        <div class="media" style="width: 100%;">
            <div style="width: 40%;">
                <img class="media-object" src="{{ponente.img}}" width="90px" height="90px">
            </div>
            <div class="media-body" style="width: 60%;">
                <dt style="color: black">Nombre: </dt>
                <dl>
                    <dd>{{ponente.name}}</dd>
                    <!---->
                </dl>
            </div>
        </div>
        {{/each}}
        <br> 

{{!--         <button {{action "recordar"}} type="button" class="btn btn-block btn-danger">
            <img src="media/aceptar.svg" alt="aceptar" width="25" height="25" style="float: left">Dejar de recordar</button>
 --}}
        <button {{action "recordar"}} type="button" class="btn btn-block btn-success">
            <img src="media/aceptar.svg" alt="aceptar" width="25" height="25" style="float: left">Recordar</button>



    </div>


    {{/if}} {{/each}} {{/each}}


    <br>
    <br>
    <br>
    <br>
    <br>
</div>

{{footer-nav evento=model.token.evento}}