{{#ember-wormhole to="destination"}}
Home  
{{/ember-wormhole}}

{{!-- "5aa2ead198759f8b532a9503" (query-params source= "logged.home") --}}


<div class="container" style="float:left; margin-top: 80px; margin-bottom: 55px">
    
    <div class="cta">
        <span class="header-line gradient-color-4"></span>
        <br>

        <div class="container">
            {{#link-to "logged.detalleactividades" "5aa2eb0698759f8b532a9505" (query-params source= "logged.home")}}

            <div class="card-block center" style=" color:#000">
                <h5 class="card-title no-margin-top">LOS MITOS DE LA RESILIENCIA</h5>
                <hr class="hrHome"/>
                <h6 class="card-subtitle text-muted" style="margin-top: -3%">vie. 18 de may. de 2018</h6>                
                <h6 class="card-subtitle text-muted" style="margin-top: 2%">5:15 pm - 6:15 pm</h6>

                <hr class="hrHome" /> 
                <p class="list-group-item-text pActividad" >Patricia Marcela Crast</p>
                                
                <p class="pActividad">
                    <span style="margin-bottom: 5%; margin-top: -10%" class="badge badge-pill badge-dark">Conferencia</span>
                </p>                                           
            </div>
            {{/link-to}}                    
        </div>       
    </div>  

     <div class="cta">
        <span class="header-line gradient-color-4"></span>
        <br>

        <div class="container">
            {{#link-to "logged.detalleactividades" "5aa2eb0698759f8b532a9505" (query-params source= "logged.home")}}

            <div class="card-block center" style=" color:#000">
                <h5 class="card-title no-margin-top">0.1 Reciclaje Exitencial</h5>
                <hr class="hrHome"/>
                <h6 class="card-subtitle text-muted" style="margin-top: -3%">sab. 19 de may. de 2018</h6>                
                <h6 class="card-subtitle text-muted" style="margin-top: 2%">5:15 pm - 6:15 pm</h6>

                <hr class="hrHome" /> 
                <p class="list-group-item-text pActividad" >Juan Felipe Miramontes Hernández</p>
                                
                <p class="pActividad">
                    <span style="margin-bottom: 5%; margin-top: -10%" class="badge badge-pill badge-dark">Taller</span>
                </p>                                           

            </div>
            {{/link-to}}
                    
        </div>
                
    </div>    


</div>

<br>
<br>

{{footer-nav evento=model.token.evento}}


