<div>
    <nav class="navbar bg-dark navbar-dark sidebarNavigation fixed-top" data-sidebarClass="navbar-dark bg-dark" style="position: fixed;">

        <img src="/media/atras.png" width="27" height="27" {{action "atras" model.contacto.id model.chat.id}}>

        <label class="lblHeader">Perfil contacto</label>
    </nav>
</div>


<br>
<br>
<br>

<div class="container">

    <div class="cardContacto">
       
        <div>
            <img class="imgc" src="{{model.contacto.img}}" alt="user">
        </div><br>
        <form class="textBlack">
            <div class="form-group">
                <label class="lblInteres">Nombre:</label>
                <br>
                <div style="width: 80%; margin-left: 20%; text-align: left">
                    <h3 class="namePerfil">{{model.contacto.name}}</h3>

                </div>

                <label class="lblInteres">Interes:</label>
                <br>                
                <div style="width: 80%; margin-left: 20%; text-align: left">                        
                    <h3 class="namePerfil">{{model.contacto.interes}}</h3>
                </div>
            </div>
        </form>
    </div>
</div>
<br>
<br>
<br>

{{footer-nav evento=model.token.evento}}