{{#ember-wormhole to="destination"}} Ponentes {{/ember-wormhole}}

<div class="container marginContain">

    <div class="w3-container ">

        {{#each model as |ponente|}}
        <div class="w3-cell-rowPonente" {{action "perfilPonente" ponente.id}}>

            <div class="w3-cellPonente" style="width:0%;">
                <img class="w3-circlePonente" src="{{ponente.img}}" alt="ponente">
            </div>

            <div class="w3-cellPonente">                
                <div style="width: 100%;">                    
                    <h5 class="namePonente">{{ponente.name}}</h5>
                </div>
            </div>

            <hr class="styleHr">

        </div>
        {{/each}}
    </div>
</div>

{{footer-nav evento=model.token.evento}}