<!DOCTYPE html>
<html class="bg-imgAA" style="background-image: url('media/fond.jpg'); width:100%; height:100%;">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>EbentoApp</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1"> {{content-for "head"}}

  <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor.css">
  <link integrity="" rel="stylesheet" href="{{rootURL}}assets/ebentoapp.css"> {{content-for "head-footer"}}
</head>

<body class="overlayed">      
  {{content-for "body"}}

  <script src="{{rootURL}}assets/vendor.js"></script>

 
  
  <script src="https://unpkg.com/sweetalert2@7.22.2/dist/sweetalert2.all.js"></script>  

  <script src="{{rootURL}}assets/ebentoapp.js"></script> {{content-for "body-footer"}}
</body>

</html>