<div>
    {{!-- model.token. --}} {{!-- https://www.youtube.com/watch?v=Q-xRLBZ4ntc --}}
    <!--<nav class="navbar navbar-expand-md bg-dark navbar-dark sidebarNavigation fixed-top" data-sidebarClass="navbar-dark bg-dark">-->
    <nav class="navbar bg-dark navbar-dark sidebarNavigation fixed-top" data-sidebarClass="navbar-dark bg-dark" style="position: fixed;">

        <h3 style="margin: 0px; color: white; font-size: 20.5px;" id="destination"></h3>

        <button class="navbar-toggler leftNavbarToggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav warning confirm" id="confirm-dialog">
                <li>
                    <hr style="background-color: rgb(209, 209, 248);" />
                    <p style="color: rgb(124,160,242);">Evento</p>
                    <div style="text-align:center;">
                        <h4 style="color: rgb(209, 209, 248); margin: 0">{{model.token.evento.name}}</h4>
                    </div>
                </li>
                <li>
                    <hr style="background-color: rgb(209, 209, 248);" />

                    <p style="color: rgb(124,160,242);">Perfil</p>
                    <div class="panel-body" style="height: 50%;">
                        <!--#343a40-->
                        <div style="background-color:	#343a40;">
                            <div style=" text-align: center !important;">


                                {{#each model.cargarDatosUsuario as |cargarDatos|}}
                                <img src="{{cargarDatos.img}}" class="rounded-circle" alt="user" width="130" height="120">                                
                                {{/each}}
                            </div>
                            <br>
                            <div>
                                <div style="text-align: center; color: cornsilk ">
                                    {{#if session.currentUser}}{{session.currentUser.email}} {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr style="background-color: rgb(209, 209, 248);" />
                </li>
                <li>
                    <div style="text-align:center; margin:5%">
                        <div class="ui">
                            <button {{action 'logout' on='click' }} class="btn btn-outline-light">
                                <img src="/media/cerrar.png" width="25" height="25" /> Cambiar Evento</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>

{{outlet}}