<h3>Registrar usuario</h3> {{!-- ************************************************************* --}}

<br> {{input value=nombre placeholder="Nombre"}}
<br>
<br> {{input value=correo placeholder="Email"}}
<br>
<br> {{input value=password placeholder="password"}}
<br>
<br> {{input value=token placeholder="token"}}
<br>
<br>

<button {{action "registrarCuenta" correo password}} class="btn btn-info">Registrar Cuenta</button>


{{#if session.currentUser}} Session iniciada como {{session.currentUser.email}}
<br>

<button {{action 'logout' on='click' }}>Logout</button>

{{/if}}


<button {{action "logout"}} class="btn btn-info">Registrar</button>

<hr>
<hr> {{input value=correo placeholder="correo"}}
<br> {{input value=newtoken placeholder="newtoken"}}
<br>
<button {{action "newToken"}} class="btn btn-info">Agregar a Evento</button>







<style>
    /* width */
::-webkit-scrollbar {
      width: 12px;
  background-color: #F5F5F5;

}

/* Track */
::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
 
    
}
 
/* Handle */
::-webkit-scrollbar-thumb {
     border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#30cfd0), to(#330867));
  background-image: -webkit-linear-gradient(bottom, #30cfd0 0%, #330867 100%);
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

/* Handle on hover */

</style>

<br><br><br>
<br><br><br>
<br><br><br>
